<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">

    <title>帮助</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/mycss/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" style="color:#339966">易考勤</h3>
              <!-- <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav> -->
            </div>
          </div>

          <div class="inner cover">
              <h1 class="cover-heading text-success">指引</h1>
              <h3 class="text-primary">考勤系统是怎么工作的?为什么识别不出我的学生?</h3>
              <p class="lead" style="text-align:left">系统识别依赖于学生在腾讯课堂里的登录名,<br>只有当登录名同时满足以下两个条件时才可以被系统识别:</p>
              <p class="lead" style="text-align:left">1.前四位必须为<strong>阿拉伯数字</strong>,<br>其中，前两位被识别为班级,后两位被识别为学号</p>
              <p class="lead" style="text-align:left">2.登录名中的<strong>汉字</strong>部分只能是学生的姓名（简体字）</p>
              <p class="lead" style="text-align:left"><strong class="text-success">可被识别</strong>的登录名，示例:<br>“1301张三”、“1303group1李四”</p>
              <p class="lead" style="text-align:left"><strong class="text-danger">无法识别</strong>的登录名，示例:<br>“401王刚”、“0403第一组贾玲”</p>
              <p class="lead" style="text-align:left">判定任教班级纳入考勤：需有<strong>标准登录名</strong>15人次以上。<br><br><br><br></p>
          </div>

          <!-- <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div> -->

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
